@import "tailwindcss";
/* 
:root {
  --color-foreground-100: #ebf4ff;
  --color-foreground-200: #cce1ff;
  --color-foreground-300: #1a50a8;
  --color-foreground-400: #008ff9;
  --color-foreground-500: #003a96;
  --color-foreground-600: #001C54;
} */
/* myFonts---------------------------------------------------- */
/* FMBoylar - primary Font */
@font-face {
  src: url("/fonts/FMBolyarSansPro-100.ttf") format('truetype');
  font-family:FMBoylar ;
  font-weight: 100;
  font-style: normal;
}
@font-face {
  src: url("/fonts/FMBolyarSansPro-200.ttf") format('truetype');
  font-family:FMBoylar ;
  font-weight: 200;
}
@font-face {
  src: url("/fonts/FMBolyarSansPro-300.ttf") format('truetype');
  font-family:FMBoylar ;
  font-weight: 300;
}
@font-face {
  src: url("/fonts/FMBolyarSansPro-500.ttf") format('truetype');
  font-family:FMBoylar ;
  font-weight: 500;
}

/* Gilory-SecondaryFont */
@font-face {
 src: url("/fonts/Gilroy-Light.otf") ;
  font-family:Gilory ;
  font-weight: 300;
}
@font-face {
 src: url("/fonts/Gilroy-LightItalic.ttf") ;
  font-family:Gilory ;
  font-weight: 300;
    font-style: italic;
}
@font-face {
 src: url("/fonts/Gilroy-Medium.ttf") ;
  font-family:Gilory ;
  font-weight: 400;
}
@font-face {
 src: url("/fonts/Gilroy-MediumItalic.ttf") ;
  font-family:Gilory ;
  font-weight: 400;
  font-style: italic;
}
@font-face {
 src: url("/fonts/Gilroy-Regular.ttf") ;
  font-family:Gilory ;
  font-weight: 500;
}
@font-face {
 src: url("/fonts/Gilroy-RegularItalic.ttf") ;
  font-family:Gilory ;
  font-weight: 500;
  font-style: italic;
}
@font-face {
 src: url("/fonts/Gilroy-SemiBold.ttf") ;
  font-family:Gilory ;
  font-weight: 600;

}
@font-face {
 src: url("/fonts/Gilroy-SemiBoldItalic.ttf") ;
  font-family:Gilory ;
  font-weight: 600;
  font-style: italic;
}
@font-face {
 src: url("/fonts/Gilroy-Bold.ttf") ;
  font-family:Gilory ;
  font-weight: 700;

}
@font-face {
 src: url("/fonts/Gilroy-BoldItalic.ttf") ;
  font-family:Gilory ;
  font-weight: 700;
  font-style: italic;
}
@font-face {
 src: url("/fonts/Gilroy-ExtraBold.otf") ;
  font-family:Gilory ;
  font-weight: 800;
}
@font-face {
 src: url("/fonts/Gilroy-ExtraBoldItalic.ttf") ;
  font-family:Gilory ;
  font-weight: 800;
  font-style: italic;
}


@theme inline {
  /* color -----------------*/
  --color-foreground:#001c54;
  --color-background:#fefffe;
  --color-foregroundLight:#ebf4ff;
  --color-foregroundMedium:#cce1ff;
  --color-foregroundRegular:#1a50a8;
  --color-foregroundSemiBold:#008ff9;
  --color-foregroundBold:#1a50a8;
  --color-foregroundExtra:#001C54;

  /* myFonts ----------------*/
  --font-FMBoylar : FMBoylar, sans-pro;
  --font-Gilroy: Gilory,sans-serif
}



body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Gilory, Arial, Helvetica, sans-serif;
}







/* :root {
  --background: #fefffe;
  --foreground: #001c54;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

